<form>
  <div class="form-group">
    <label for="input-first-name">First name</label>
    <input type="text" class="form-control" id="input-first-name" placeholder="First name">
  </div>
  <div class="form-group">
    <label for="input-email">Last name</label>
    <input type="text" class="form-control" id="input-last-name" placeholder="Last name">
  </div>
  <div class="form-group">
    <label for="input-email">Email address</label>
    <input type="email" class="form-control" id="input-email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="input-password">Password</label>
    <input type="password" class="form-control" id="input-password" placeholder="Password">
  </div>
	<div class="form-group">
    <label for="input-password-verify">Verify Password</label>
    <input type="password" class="form-control" id="input-password-verify" placeholder="Password">
  </div>
  
  <%= link_to "Cancel", {controller: :welcome, action: :index}, class: "btn btn-default pull-left" %>
  <%= link_to "Submit", {controller: :welcome, action: :index}, class: "btn btn-primary pull-right" %>
</form>