<form>
  <div class="form-group">
    <label for="input-email">Email address</label>
    <input type="email" class="form-control" id="input-email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="input-password">Password</label>
    <input type="password" class="form-control" id="input-password" placeholder="Password">
  </div>

  <%= link_to "Cancel", '/', class: "btn btn-default pull-left" %>
  <%= link_to "Submit", {controller: :home, action: :index}, class: "btn btn-primary pull-right" %>
</form>